<!DOCTYPE html>
<html>
<head>
    <title>Update Employee</title>
</head>
<body>
    <h1>Update Employee</h1>
    <form action="/updateemp/{{ emp_id }}" method="POST">
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" value="{{ first_name }}" required><br><br>
        
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" value="{{ last_name }}" required><br><br>
        
        <label for="pri_skill">Primary Skill:</label>
        <input type="text" id="pri_skill" name="pri_skill" value="{{ pri_skill }}" required><br><br>
        
        <label for="location">Location:</label>
        <input type="text" id="location" name="location" value="{{ location }}" required><br><br>
        
        <input type="submit" value="Update Employee">
    </form>

    {% if success_message %}
        <p>{{ success_message }}</p>
        <p>Updated Information:</p>
        <p>First Name: {{ first_name }}</p>
        <p>Last Name: {{ last_name }}</p>
        <p>Primary Skill: {{ pri_skill }}</p>
        <p>Location: {{ location }}</p>
    {% endif %}

    {% if error_message %}
        <p>{{ error_message }}</p>
    {% endif %}
</body>
</html>
